<%= render 'layouts/header' %>
<div class="container p-4">
    <div class = "card card-body" style= font-family:Verdana, Geneva, Tahoma, sans-serif ;>
        <h1 id='inicio'> Bienvenidos a Pet Save </h1>
        <h2 > Adopta tu mascota </h2>
    </div>  
        <div class="row"  style="padding-top: 60px " >
            <div class="col-md-4">
                <img src="https://estaticos.muyinteresante.es/media/cache/1140x_thumb/uploads/images/gallery/59c4f5655bafe82c692a7052/gato-marron_0.jpg" class="img-fluid">
                <img  src="https://www.ecestaticos.com/image/clipping/79776773aab795837282c7d4947abaf7/por-que-nos-parece-que-los-perros-sonrien-una-historia-de-30-000-anos.jpg" class="img-fluid" >
                <img  class="img-fluid" src="https://estaticos.muyinteresante.es/media/cache/1140x_thumb/uploads/images/gallery/59a697445bafe8f6f6b3d6dc/hamster-sirio_0.jpg" >
                <img  class="img-fluid" src="https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2017/11/30152236/Perros-vs-Gatos2.jpg">
            </div>
            <div class="col-md-8">
            <div class = "card card-body" style= font-family:Cambria ; >
                <h1 style="padding-top: 30px"> ¿QUIENES SOMOS? </h1>
                <h4 style="padding-top: 20px"> Somos una organizacion en la cual nos encargamos
                    de darle hogar y cuidado a mascotas abandonadas
                    con el fin de que puedan volver encontrar un hogar.</h4>
                <h1 style="padding-top: 80px">  ¿Como inscribir una mascota abandonada?</h1>
                <h4 style="padding-top: 30px"> 1. Registrate o inicia sesion. </h4>
                <h4 style="padding-top: 15px"> 2. Accede a la parte "Formularios" que 
                se encuentra en la parte superior de la pagina. </h4>
                <h4 style="padding-top: 15px"> 3. Ingresa los datos de la mascota y envia el formulario </h4>
                <h4 style="padding-top: 15px"> 4. Una vez ingresada la informacion recibiremos tus datos
                y nos pondremos en contacto para acoger la mascota. </h4>
                <h1 style="padding-top: 80px">  ¿Como adoptar una mascota?</h1>
                <h4 style="padding-top: 30px">  Sin necesidad de iniciar sesion puedes revisar 
                las mascotas disponibles en la parte superior de la pagina en "Mascotas"</h4>
            </div>
            </div>    
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
